@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700|Monoton');

.Dash--container {
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
  position: relative;

  .Dash--section--width {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;

    .Dash--menubar {
      margin-bottom: 10px;
      background: #e9ffff;
      height: 60px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.02);

      h3 {
        font-family: 'Monoton', cursive;
        font-weight: 100;
      }
    }

    .Dash--posts {
      height: 100%;
      background: #e9ffff;
      position: fixed;
      width: 68%;
      overflow-y: scroll;
      // overflow: hidden;
    }
    ::-webkit-scrollbar {
      width: 0px; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
      background: #ff0000;
    }
  }

  ul {
    font-size: 200px;
  }
}
